@use "../utils/spacing.scss" as *;

$gap-2: rem(2px);
$gap-4: rem(4px);
$gap-8: rem(8px);
$gap-12: rem(12px);
$gap-16: rem(16px);
$gap-20: rem(20px);
$gap-24: rem(24px);
$gap-32: rem(32px);
$gap-40: rem(40px);
$gap-48: rem(48px);
$gap-56: rem(56px);
$gap-64: rem(64px);